* text=auto eol=lf

*.c text eol=lf working-tree-encoding=UTF-8
*.h text eol=lf working-tree-encoding=UTF-8
*.cpp text eol=lf working-tree-encoding=UTF-8
*.hpp text eol=lf working-tree-encoding=UTF-8
*.py text eol=lf working-tree-encoding=UTF-8
*.sh text eol=lf working-tree-encoding=UTF-8
*.md text eol=lf working-tree-encoding=UTF-8
*.ini text eol=lf working-tree-encoding=UTF-8
*.cmake text eol=lf working-tree-encoding=UTF-8

CMakeLists.txt text eol=lf working-tree-encoding=UTF-8
